@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.ReactModal__Overlay {
  z-index: 100;
}

.Spreadsheet__cell,
.Spreadsheet__header {
  min-width: 5rem !important;
}

.Spreadsheet__table {
  min-width: 100%;
}

.Spreadsheet {
  width: 100%;
  overflow: auto !important;
}
